<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head th:replace="layout :: site-head">
    <title>Admin</title>
</head>
<body>
    <div th:fragment="header">
        <ul class="nav navbar-nav" >
            <li><a href="/admin/users">Manage users<span class="sr-only">(current)</span></a></li>
        </ul>
    </div>
    <div th:fragment="container" class="container">
        <div class="row margin_top20">
            <div class="col-sm-12">
                <div class="panel panel-default" id="type_tasks">
                    <div class="panel-body" >
                        <h1 class="text-center" th:text="|Hello, ${name}|"></h1>
                        <div class="row">
                            <div class="col-sm-4 text-center">
                                <h2><a href="/admin/users" class="btn btn-lg btn-default">Manage users</a></h2>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>




</body>
</html>