<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head th:replace="layout :: site-head">
    <title>Orders</title>
</head>
<body>
    <div th:fragment="header">
        <ul class="nav navbar-nav" >
            <li><a href="/admin/users" id="active_nav">Manage users<span class="sr-only">(current)</span></a></li>
        </ul>
    </div>
    <div th:fragment="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 id="head_name">Users
                    <a href="/admin/addUser" th:action="@{/admin/addUser}" class="pull-right">+</a>
                </h3>

                <hr id="head_hr" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default" id="type_tasks">
                    <div class="panel-body" >
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Sername</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Age</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.login}"></td>
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.secondname}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.role.substring(5,user.role.length()).toLowerCase()}"></td>
                                    <td th:text="${user.age}"></td>
                                    <td >
                                        <form action="/admin/editUser" th:action="@{/admin/editUser}" method="get" class="col-sm-6">
                                            <button type="submit" name="id" class="btn btn-success col-sm-10 col-sm-offset-1" th:value="${user.id}">Edit</button>
                                        </form>
                                        <form action="/admin/deleteUser" th:action="@{/admin/deleteUser}"  method="get" class="col-sm-6">
                                            <!--th:id="'deleteUser_' + ${user.id}"
                                            <input type="hidden" name="id" th:value="${user.id}"/>
                                            <a class="btn_delete btn btn-danger col-sm-10 col-sm-offset-1" th:value="${user.id}">Delete</a>-->
                                            <button type="submit" name="id" class="btn btn-danger col-sm-10 col-sm-offset-1" th:value="${user.id}">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>