<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head th:replace="layout :: site-head">
    <title>Admin</title>
</head>
<body>
    <div th:fragment="container" class="container">
        <!--<div class="row margin_top20">
            <div class="col-sm-12">
                <div class="panel panel-default" id="type_tasks">
                    <div class="panel-body" >
                        <h1 class="text-center" th:text="|Hello, ${name}|"></h1>


                    </div>

                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default" id="type_tasks">
                    <div class="panel-body" >
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Sername</th>
                                <th>Email</th>
                                <th>Age</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.login}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.secondname}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.age}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="col-sm-2 col-sm-offset-8" th:text="| Average Age: ${averageAge}|"></h3>
        </div>
    </div>


    </div>




</body>
</html>