<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head th:fragment="site-head">
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/design/bootstrap/css/bootstrap.min.css" th:href="@{/design/bootstrap/css/bootstrap.min.css}"/>
    <script src="../static/design/js/jquery-2.2.0.min.js" th:src="@{/design/js/jquery-2.2.0.min.js}"></script>
    <link rel="stylesheet" href="../static/design/css/style.css" th:href="@{/design/css/style.css}">
    <script src="../static/design/bootstrap/js/bootstrap.min.js" th:src="@{/design/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div th:include="this :: container">

        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center vcenter text-xs-center vcenter">
                <h3 id ="logo_footer">DEV</h3>
            </div>
        </div>
    </div>
</footer>
</body>
</html>


